<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS Activation Email</title>
    <style type="text/css">

        body{
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #FAFAFA;
            color: #222222;
        }

        a{
            text-decoration: none;
            color: #000;
        }

        h1{
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;
        }

        p{
            margin-top: 0px;
            margin-bottom: 24px;
        }

        table td{
            
        }

    </style>
</head>
<body>
    


</body>
</html>